DB/weaviate_data/classifications.db
DB/weaviate_data/migration1.19.filter2search.skip.flag
DB/weaviate_data/migration1.19.filter2search.state
DB/weaviate_data/migration1.22.fs.hierarchy
DB/weaviate_data/modules.db
DB/weaviate_data/schema.db
DB/weaviate_data/article/ClyhsjGLxdS1/indexcount
DB/weaviate_data/article/ClyhsjGLxdS1/proplengths
DB/weaviate_data/article/ClyhsjGLxdS1/version
DB/weaviate_data/article/ClyhsjGLxdS1/vectors_default.hnsw.commitlog.d/1776351095
DB/weaviate_data/caption/v8yXqyZ15XZN/indexcount
DB/weaviate_data/caption/v8yXqyZ15XZN/proplengths
DB/weaviate_data/caption/v8yXqyZ15XZN/version
DB/weaviate_data/caption/v8yXqyZ15XZN/vectors_default.hnsw.commitlog.d/1776351094
DB/weaviate_data/content/ewvIIPeXeiwC/indexcount
DB/weaviate_data/content/ewvIIPeXeiwC/proplengths
DB/weaviate_data/content/ewvIIPeXeiwC/version
DB/weaviate_data/content/ewvIIPeXeiwC/vectors_default.hnsw.commitlog.d/1776351094
DB/weaviate_data/cover/CxbV8hinY7p9/indexcount
DB/weaviate_data/cover/CxbV8hinY7p9/proplengths
DB/weaviate_data/cover/CxbV8hinY7p9/version
DB/weaviate_data/cover/CxbV8hinY7p9/vectors_default.hnsw.commitlog.d/1776351094
DB/weaviate_data/image/RNOo95E4zmdX/indexcount
DB/weaviate_data/image/RNOo95E4zmdX/proplengths
DB/weaviate_data/image/RNOo95E4zmdX/version
DB/weaviate_data/image/RNOo95E4zmdX/vectors_default.hnsw.commitlog.d/1776351094
DB/weaviate_data/issue/evdx4UyNLNsw/indexcount
DB/weaviate_data/issue/evdx4UyNLNsw/proplengths
DB/weaviate_data/issue/evdx4UyNLNsw/version
DB/weaviate_data/issue/evdx4UyNLNsw/vectors_default.hnsw.commitlog.d/1776351095
DB/weaviate_data/page/Hx5kdDDFwunT/indexcount
DB/weaviate_data/page/Hx5kdDDFwunT/proplengths
DB/weaviate_data/page/Hx5kdDDFwunT/version
DB/weaviate_data/page/Hx5kdDDFwunT/vectors_default.hnsw.commitlog.d/1776351094
DB/weaviate_data/paragraph/BysgXfLDUmaq/indexcount
DB/weaviate_data/paragraph/BysgXfLDUmaq/proplengths
DB/weaviate_data/paragraph/BysgXfLDUmaq/version
DB/weaviate_data/paragraph/BysgXfLDUmaq/vectors_default.hnsw.commitlog.d/1776351093
DB/weaviate_data/periodical/YKXlaeuGJ5kt/indexcount
DB/weaviate_data/periodical/YKXlaeuGJ5kt/proplengths
DB/weaviate_data/periodical/YKXlaeuGJ5kt/version
DB/weaviate_data/periodical/YKXlaeuGJ5kt/vectors_default.hnsw.commitlog.d/1776351095
DB/weaviate_data/raft/raft.db
DB/weaviate_data/raft/db_users/users.json
